<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8"> 

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width,  initial-scale=1, maximum-scale=1"">

    <title><%= title %></title>
    </style>
    <link rel="stylesheet" type="text/css" href="<%= url_static_root %>stylesheets/style.css" />
 </head>
 <body>
 <h1>la poste</h1>
 <div id="indexMenu">
   <ol>
    <li><a href='choix/conducteur'>conducteur</a></li>
    <li><a href='choix/groupe'>groupe</a></li>
    <li><a href='choix/moderateur'>moderateur</a></li>
    <li><a href='choix/animateur'>animateur</a></li>
    <li><a href='choix/diffuseur'>diffuseur</a></li>
    <li><a href='raz'>raz</a></li>

   </ol>
 </div>
 <script type="text/javascript" src="<%= url_static_root %>javascripts/jquery-1.10.2.min.js"></script>   
 </body>
</html>
